
<div class="container px-5">
    <div class="row justify-content-between">
        <div class="col-4 gy-5">
            <ul class="list-group">
                {{#each burgers}}
                {{#unless devoured}}
                <li class="list-group-item">{{id}}. {{burger_name}}
                    <button class="btn btn-outline-secondary change-devour btn-devour" data-id="{{id}}">Devour It!</button>
                </li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col-4 gy-5">
            <ul class="list-group">
                {{#each burgers}}
                {{#if devoured}}
                <li class="list-group-item">{{id}}. {{burger_name}}</li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-6 px-3 gy-5">
            <form class="align-self-center">
                <div class="mb-3">
                    <textarea class="form-control" id="burger-textarea" rows="3"></textarea>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-center">
                    <button class="btn btn-primary me-md-2" id="submit-burger" type="submit">Submit</button>
                </div>
                  <p class="burger-submit-text">Enter a burger that you want to eat and click the 'Submit' button.</p>
            </form>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="/assets/js/burgers.js"></script>